.page--demo {
  max-width: 720px;
  margin: auto;
  text-align: center;
}
.page--demo h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.demo-description,.read-the-docs {
  color: var(--muted-color);
}
.demo-technologies {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}
.demo-technologies a {
  display: grid;
  place-items: center;
  width: 96px;
  height: 96px;
  background: var(--card-bg);
  border: 1px solid var(--header-border);
  border-radius: 24px;
}
.demo-technologies .logo {
  width: 48px;
  height: 48px;
}
.demo-counter-card {
  background: var(--card-bg);
  border: 1px solid var(--header-border);
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 1.5rem;
}
.demo-counter-card button {
  background: var(--btn-bg);
  color: white;
  border-color: transparent;
  margin-bottom: 1rem;
}
.demo-counter-card p {
  color: var(--muted-color);
  margin-bottom: 0;
}
.read-the-docs {
  font-size: .85rem;
}
