
.page-header {
  position: relative;

  /*noinspection CssInvalidMediaFeature*/
  @media (display-mode: picture-in-picture) {
    & {
      display: none;
    }
  }

  .page-header__left {
    /**/
  }

  .page-header__right {
    position: absolute;
    /* instead of 'top: 0;' */
    inset-block-end: 0;
    /* instead of 'right: 0;' */
    inset-inline-end: 0;
    z-index: 1000;
    border: none;
  }
}
